
body{
    background-color: #222222;
    margin: 0px;
    white-space: nowrap;
}
.logo {
    background-color: #222222;
    text-align: center;
    margin: 0px;
    height: 30em;
}
.indie {
    background-image: url("IndieBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    resize: none;
    text-align: center;
    background-position: center bottom;
    background-attachment: fixed;
    height: auto;
    font-family: "Audiowide";
    font-size: 40px;
    color: orange;
    margin:0px;
    padding:0px;
    line-height: 0;
}
.gameLeft{
    height: 20em;
    object-position: center;
    width: 13%;
    display: inline-block;
    cursor: pointer;
}
.gameMiddle{
    height: 20em;
    object-position: center;
    width: 73.4%;
    display: inline-block;
    cursor: pointer;
}
.gameRight{
    height: 20em;
    object-position: center;
    width: 13%;
    display: inline-block;
    cursor: pointer;
}